[submodule "hvcc"]
	path = hvcc
	url = https://github.com/Wasted-Audio/hvcc.git
[submodule "libDaisy"]
	path = libDaisy
	url = https://github.com/electro-smith/libDaisy.git
[submodule "DPF"]
	path = DPF
	url = https://github.com/DISTRHO/DPF.git
