[submodule "hvcc"]
	path = hvcc
	url = https://github.com/Wasted-Audio/hvcc.git
[submodule "libDaisy"]
	path = libdaisy
	url = https://github.com/electro-smith/libDaisy.git
[submodule "dpf"]
	path = dpf
	url = https://github.com/DISTRHO/DPF.git
[submodule "dpf-widgets"]
	path = dpf-widgets
	url = https://github.com/DISTRHO/DPF-Widgets.git
